<h1>Sign Up Below:</h1>
<form action="/registrations" method = "POST">
  <h2>Name: <input type="text" name="name"> </h2>
  <h2>Name: <input type="text" name="email"> </h2>
  <h2>Name: <input type="text" name="password"> </h2>
  <input type="submit" name="submit" value="submit">
</form>
